body {
    padding: 0;
    margin: 0;
    background-image: url(background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(256,256,256);
}

.title {
    padding-left: 20px;
    color:rgb(256,256,256);
    margin: 20px 0px;
}

main {
    padding-left: 20px;
}

/*Header*/
header {
    /* background: #000000; */
    padding-left: 20px;
}

header h1 {
    color: rgb(256,256,256);
    margin: 0;
}

/* All Sections */
section{
    width:100%;
}

/*Navigation Bar*/
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-right: 15px;
}

li a {
    color: rgb(256,256,256);
    text-decoration: none;
    padding: 10px 0px;
}

/*Biography*/
#bio {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-left:20px;
    padding-right:20px;
}
#bio section {
    background-color: rgba(63, 63, 63, 0.74);
    border: 1px solid black;
    border-radius:12px;
    margin-bottom:20px;
}

/*Projects*/
#projects {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-left:20px;
    padding-right:20px;
}
#projects section {
    background-color: rgba(63, 63, 63, 0.74);
    border: 1px solid black;
    border-radius:12px;
    margin-bottom:20px;
    padding-bottom:20px;
}
table{
    height:100%;
    width:100%;
    border:2px solid white;
    background-color: rgba(63, 63, 63, 0);
    height:100vh;
}
td{
    border:2px solid white;
    border-radius:100%;
}
td:hover{
    background:orange;
}
.red{
    background:red;
}
.black{
    background:black;
}
.blank{
    background:rgba(0,0,0,0);
}

/* Rock Paper Scissors */
#userButtons{
    display:flex;
    justify-content: space-around;
    flex-basis: 33%;
}
#computer{
    margin-top:18.720px;
    display: flex;
    justify-content: center;
}